* {
    margin: 0;
    padding: 0;
}

/* 헤더 */

.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    color: white;
    background: linear-gradient(rgb(79, 79, 220), rgb(184, 130, 208))
}

.header-txt {
    margin-top: 100px;
}

.header-txt-title {
    margin: 10px 0;
}

.header-btn {
    color: white;
    background-color: #0f0f0f;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.header-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 400px;
    width: 30%;
}

.header-img img {
    width: 300px;
    position: absolute;
    bottom: 0;
}